{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Catálogo</title>


    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div id="app">

        <script src="{% static 'js/script.js' %}"></script>

        {{ nuevos_servicios|json_script:"servicios-data" }}
        <script>
        document.addEventListener("DOMContentLoaded", () => {
            const dbServicios = JSON.parse(document.getElementById('servicios-data').textContent);
            cargarCatalogo(dbServicios); 
        });
        </script>

    </div>
</body>
</html>