{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Inicio - Servicios</title>
    
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div id="app">
        
        <script src="{% static 'js/script.js' %}"></script>
        
        {{ integrantes|json_script:"integrantes-data" }}
        <script>
        document.addEventListener("DOMContentLoaded", () => {
            const dbIntegrantes = JSON.parse(document.getElementById('integrantes-data').textContent);
            cargarIndex(dbIntegrantes); 
        });
        </script>
    </div>
</body>
</html>